body{
    /* text-align: center; */
    background-color: rgb(165, 228, 165);
}
#header{
    padding: 5px;
}
#header h1{
    font-family: cursive;
}
input{
    padding: 10px;border-radius: 5px;
}
#dropBox{
    padding: 10px;
    border-radius: 5px;
    width: 15%;
}
#loginbtn{
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    background-color: blue;
    color: white;
}

/* =========Registration ===================== */

#address{
    width: 30%;
}
#imagepart{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 30%;
}
#role{
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
    width: 30%;
}
#role select{
    border-radius: 5px;
    padding: 10px;
}
#registerbtn{
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    background-color: blue;
    color: white;
}

/* =============== Dashboard ========================== */