body{
    /* text-align: center; */
    background-color: rgb(165, 228, 165);
}
#header{
    padding: 5px;
}
#header h1{
    font-family: cursive;
}
input{
    padding: 10px;border-radius: 5px;
}
#dropBox{
    padding: 10px;
    border-radius: 5px;
    width: 15%;
}
#backbtn{
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    background-color: blue;
    color: white;
    float : left;
    margin: 10px;
}
#logoutbtn{
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    background-color: blue;
    color: white;
    float : right;
    margin: 10px;
}
#Profile{
    background-color: rgb(237, 238, 237);
    width: 30%;
    padding: 20px; 
    float: left;
}
#Group{
    background-color: rgb(237, 238, 237);
    width: 60%;
    padding: 20px;
    float: right;
}
#votebtn{
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    background-color: blue;
    color: white;
}
#mainSection{
    padding: 10px;
}
#mainpannel{
    padding: 10px;
}

/* #voted{
    padding: 5px;
    font-size: 15px;
    background-color: green;
    color: white;
    border-radius: 5px;

} */